<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", {title: "Messages Board"}) %>

  <body>
    <a href="/new">New Message</a>
    <ol>
      <% messages.forEach((message) => { %>
      <li>
        <h2><%= message.user %></h2>
        <p class="text"><%= message.text %></p>
        <% const hours = String(message.added.getHours()).padStart(2, "0")%> <% const minutes =
        String(message.added.getMinutes()).padStart(2, "0") %>
        <p class="date"><%= `${hours}:${minutes}` %></p>
      </li>
      <% }) %>
    </ol>

    <%- include("../partials/footer") %>
  </body>
</html>
